<%= render '/refinery/big_header_image' %>

<div class="section" id="firstSection">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= raw @page.content_for(:body) %>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="info-icon section-grey">
          <%= raw @page.content_for(:left_card) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info-icon section-grey">
          <%= raw @page.content_for(:right_card) %>
        </div>
      </div>
    </div>
  </div>
</div>
