<%= render '/refinery/big_header_image' %>

<div class="section section-contact-form">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= raw @page.content_for(:body) %>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
  </div>
</div>
<div class="section section-contact-us" id="firstSection">
  <div class="contact-container">
    <div class="map" id="route-map">
    </div>
  </div>
</div>