<%= render '/refinery/big_header_image' %>

<div class="section section-contact-form">
  <div class="container">
    <div class="title-area">
      <h5 class="subtitle text-gray">Glad to Talk With You</h5>
      <h2>Contact Us</h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">In this area you can write some interesting description about the projects that your team created. Don't forget to add some awesome images under this description, like the beautiful ones that we added.</p>
    </div>
  </div>
</div>
<div class="section section-contact-us">
  <div class="contact-container">
    <div class="map">
      <div class="google-map big-map"></div>
    </div>
  </div>
</div>