<%= render '/refinery/small_header_image' %>

<div class="section" id="firstSection">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= raw @page.content_for(:body) %>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
  </div>
</div>

<div class="section section-cards section-gray">
  <div class="container">
    <div class="row">
      <% @page.images.each_with_index do |img, index| %>
        <% next if index == 0 %>
        <div class="col-md-4">
          <h3 class="text-center"><%= img.image_title %></h3>
          <div class="card card-blog">
            <%= link_to image_tag(img.thumbnail().url), img.url, class: "fancybox header", rel: "group" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
           