<%= render '/refinery/big_header_image' %>

<div class="section" id="firstSection">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= raw @page.content_for(:body) %>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
  </div>
</div>

<div class="section section-cards section-gray lazy-images">
  <div class="container">
    <%= photo_cards_markup(@page.images) %>
  </div>
</div>
           