<% image_index = locals[:image_index] || 1 %>

<div class="section">
  <div class="parallax">
    <div class="image" style="background-image: url('<%= @page.images[image_index].best_url %>')"></div>
  </div>
</div>
