<% latest_posts=Refinery::Blog::Post.last(2).reverse %>

<% latest_posts.each do |post| %>
  <hr />
  <a href="<%= refinery.blog_post_path(post) %>">
    <strong><%= post.title %></strong>
    <br />
    <%= pretty_date_for_blog_post(post) %>
    <br />
    <%= strip_tags(post.custom_teaser) %>
  </a>
<% end %>
