<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 col-sm-6 footer-nav">
      <div class="info">
        <h5 class="title">www.FollowRhythm.com</h5>
        <hr />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-6 hidden-xs footer-blog-summary">
      <h5 class="title">The Latest</h5>
      <%= render '/refinery/footer_blog_summary' %>
    </div>
    <div class="col-md-3 col-md-offset-1 social-links">
      <div class="info">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
    <div class="copyright">
      © <script> document.write(new Date().getFullYear()) </script> FollowRhythm
    </div>
  </div>
</div>
