<div class="section section-header section-header-small">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image: url('<%= @page.images[0].best_url %>')"></div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <%= raw @page.content_for(:banner) %>
          <div class="separator line-separator">♦</div>
        </div>
      </div>
    </div>
  </div>
</div>
