// Links in the body
p a{
  font-weight: bold;
} 
p a,
a h3,
h3 a { 
  color: #000000;
  &:hover { text-decoration: underline; }
}

// Images in the body
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-12{
  img{ max-width: 100%; }
}

// Footer Stuff
.footer-blog-summary,
.footer-nav{
  padding-bottom: 1em;
}

@media screen and (max-width: 767px) {
  .social-links{ text-align:center; }
}


// Form Stuff
.form-group{
  label{ text-align: left; }
}

#errorExplanation {
  margin-bottom: 3em;

  li{ list-style-type: none; }
}


// Blog Stuff
#blog_posts{

}

#comments{
  .separator{ margin: 1em 0; }
  .avatar{ margin-bottom: 1em; }
}

// Etc.
.fluid-width-videos{ 
  h2{ margin-top:2em; }
}
