<%= render '/refinery/big_header_image' %>

<div class="section" id="firstSection">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= render "/refinery/content_page", :hide_sections => [:body_content_title, :side_body, :banner] %>
      </div>
    </div>
  </div>
</div>